---
layout: archive
permalink: /dsa/
title: "Data Structure and Algorithm"
author_profile: true
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% assign dsa_posts = site.dsa | sort: 'date' | reverse %}
{% for post in dsa_posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}